<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReorderCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76320E3D1C7ED6CE00CC5B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76320E561C7ED6CF00CC5B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76320E611C7ED6CF00CC5B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
